<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>WLU Lab Admin Page</title>
	
	<%- partial('../layout/common/common_header') %>
	<link rel="stylesheet" href="/css/admin.css" type="text/css" />
	<link rel="stylesheet" href="/css/button.css" type="text/css" />
	
</head>
<body>
	<div class='center'><h2>Admin Home</h2></div>
	<p>
	<div >
		<p>
		<div class='hundred padding_25'>
			<a href="<%=sails.getBaseUrl()%>/admin/schedule_session" class="fifty_w left button dark_grey"><div class="center_text">Schedule Sessions Admin Page</div></a>
		</div>
		</p>
		<p>
		<div class='hundred padding_25''>
			<a href="<%=sails.getBaseUrl()%>/admin/select_session_admin_emailer" class="fifty_w  left button dark_grey"><div class="center_text">Mass Emailer Admin Page</div></a>
		</div>
		</p>
		<p>
		<div class='hundred padding_25''>
			<a href="<%=sails.getBaseUrl()%>/session/schedule" class="fifty_w  left button dark_grey"><div class="center_text">Schedule Sessions Admin Page</div></a>
		</div>
		</p>
		<p>
		<div class='hundred padding_25''>
			<a href="<%=sails.getBaseUrl()%>/session/schedule" class="fifty_w  left button dark_grey"><div class="center_text">Schedule Sessions Admin Page</div></a>
		</div>
		</p>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div></div>
	</p>
</body>
</html>
