<!doctype html>
<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>Admin Schedule Session</title>
	  <link rel="stylesheet" href="/css/data.css" type="text/css" />
	  <link rel="stylesheet" href="/css/button.css" type="text/css" />
	  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	  <script>

	  		var session_id = 12;	
	  		var users = {};
	  
		  	function findById(){
				path = "/session/findById" ;
				
				var request= {
			            action : path,
			            id: session_id,
			            rand : Math.floor(Math.random()*100000)
			        };
					
					$.post(path,  request,   function(data, status, xhr){	
						if(data.id){
							var date = (data.date).substring(0, (data.date).indexOf('T'));
							var sessiondata = 	'<h5><span>Date: ' + date + '<br/> Time: ' + data.time + 
												'<br/>Number of Participants: ' + data.max+ '</span></h5>';
							$('#session').html(sessiondata);
							
							getSessionType(data.session_type);
							getUserData();
						}
					}, "json");	
			}
		  	
		  	function colorTables(){
		  		$("tr:even").css("background-color","#FFFFCE");
				$("tr:odd").css("background-color","#FBF693");
		  	}
		  	
		  	function getSessionType(session_type){
				path = "/sessiontype/find" ;
				
				var request= {
			            action : path,
			            session_type: session_type,
			            rand : Math.floor(Math.random()*100000)
			        };
					
					$.post(path,  request,   function(data, status, xhr){	
						if(data.id){
							var session_type = 	'<h5><span>Session Type: ' + data.name + '</span></h5>';
							$('#session_type').html(session_type);
						}
						
					}, "json");	
			}
		  	
		  	function getUserData(){
				path = "/userdata/find" ;
				
				var request= {
			            action : path,
			            session_id: session_id,
			            rand : Math.floor(Math.random()*100000)
			        };
					
					$.post(path,  request,   function(data, status, xhr){	
						if(data.rows){
							//console.log('inside if');
							processUserdata(data.rows);
						}	
					}, "json");	
			}
		  	
		  	function findUserDataById(user_id){
				path = "/userdata/findUserDataById" ;
				
				var request= {
			            action : path,
			            user_id: user_id,
			            rand : Math.floor(Math.random()*100000)
			        };
					
					$.post(path,  request,   function(data, status, xhr){	
						if(data.rows){
							console.log('inside if');
							processUsersdata(data.rows);
						}	
					}, "json");	
			}
		  	
		  	function getUserOpinions(username, index){
				path = "/userdata/findUserOpinions" ;
				
				var request= {
			            action : path,
			            username: username,
			            rand : Math.floor(Math.random()*100000)
			        };
					
					$.post(path,  request,   function(data, status, xhr){	
						if(data.rows){
							buildUserQuestionRow(data.rows, index);
						}	
					}, "json");	
			}
		  	
		  	function processUserdata(users){
				$.each(users, function(index, user){
					console.log(user.user_id);
					findUserDataById(user.user_id);
				});
			}
		  	
		  	function processUsersdata(users){
		  		var user = {};
				$.each(users, function(index, user){
					console.log(user.username);
					users[index] = user;
					buildUserDataRow(user, index);
					getUserOpinions(user.username, index);
				});
			}
		  	
		  	function buildUserQuestionRow(opinions, index){
		  		var index = index + 1;
		  		var username = opinions[0].username;
				  			
				var tr = '<tr id="tr_ngo_user class="row hundred"' + index + '">';
				var index = '<td class="center c1">' + index + '</td>';
				var username = '<td class=" c2">' + opinions[0].username + '</td>';
				var q1 = "<td class='center'>" + opinions[0].value + "</td>";
				var q2 = "<td class='center'>" + opinions[1].value + "</td>";
				var q3 = "<td class='center'>" + opinions[2].value + "</td>";
				var q4 = "<td class='center'>" + opinions[3].value + "</td>";
				var q5 = "<td class='center'>" + opinions[4].value + "</td>";
				var q6 = "<td class='center'>" + opinions[5].value + "</td>";
				var q7 = "<td class='center'>" + opinions[6].value + "</td>";
				var q8 = "<td class='center'>" + opinions[7].value + "</td>";
				
				//users[index].q1 = q1;
				//users[index].q2 = q2;
				//users[index].q3 = q3;
				//users[index].q4 = q4;
				//users[index].q5 = q5;
				//users[index].q6 = q6;
				//users[index].q7 = q7;
				//users[index].q8 = q8;

				var table_row = tr + index + username + q1 + q2 + q3 + q4 + q5 + q6 + q7 + q8 + '</tr>';
				$('#user_question_table tbody:last-child').append(table_row);
				
				colorTables();
				
		  	}
		  	
		  	function buildUserDataRow(user, index){
		  		var index = index + 1;
				  			
				var tr = '<tr id="tr_ngo_user class="row hundred"' + index + '">';
				var index = '<td class="center c1">' + index + '</td>';
				var username = '<td class=" c2">' + user.username + '</td>';
				
				var choice1 = "<td class='center'>" + 'choice1' + "</td>";
				var choice2 = "<td class='center'>" + 'choice2' + "</td>";
				var page1 = "<td class='center'>" + user.page1 + "</td>";
				var page2 = "<td class='center'>" + user.page2 + "</td>";
				var page3 = "<td class='center'>" + user.page3 + "</td>";
				var page4 = "<td class='center'>" + user.page4 + "</td>";
				var st = "<td class='center'>" + 'sessionType' + "</td>";

				var table_row = tr + index + username + choice1 + choice2 + page1 + page2 + page3 + page4 + st + '</tr>';
				$('#user_ngo_table tbody:last-child').append(table_row);
				
				var na1 = "<td class='center'>$ " + new Number(user.na1).toFixed(2) + "</td>";
				var na2 = "<td class='center'>$ " + new Number(user.na2).toFixed(2) + "</td>";
				var na3 = "<td class='center'>$ " + new Number(user.na3).toFixed(2) + "</td>";
				var na4 = "<td class='center'>$ " + new Number(user.na4).toFixed(2) + "</td>";
				var na5 = "<td class='center'>$ " + new Number(user.na5).toFixed(2) + "</td>";
				var na6 = "<td class='center'>$ " + new Number(user.na6).toFixed(2) + "</td>";
				var nc1 = "<td class='center'>" + user.nc1 + "</td>";
				var nc2 = "<td class='center'>" + user.nc2 + "</td>";
				var nc3 = "<td class='center'>" + user.nc3 + "</td>";
				var nc4 = "<td class='center'>" + user.nc4 + "</td>";
				var nc5 = "<td class='center'>" + user.nc5 + "</td>";
				var nc6 = "<td class='center'>" + user.nc6 + "</td>";
				var count = new Number(user.nc1) + new Number(user.nc2) + new Number(user.nc3) + 
							new Number(user.nc4) + new Number(user.nc5) + new Number(user.nc6);
				var c_total = "<td class='center'>" + count + "</td>";
				var at1 = new Number(user.nt).toFixed(2);
				var a_total = "<td class='center'>$ " + at1 + "</td>";
				
				var table_ngo_amount_row = tr + index + username + na1 + na2 + na3 + na4 + na5 + na6 + 
																   nc1 + nc2 + nc3 + nc4 + nc5 + nc6 +
																   c_total + a_total + '</tr>';
				
				$('#user_ngo_amount_table tbody:last-child').append(table_ngo_amount_row);
				
				var n2a1 = "<td class='center'>$ " + new Number(user.n2a1).toFixed(2) + "</td>";
				var n2a2 = "<td class='center'>$ " + new Number(user.n2a2).toFixed(2) + "</td>";
				var n2a3 = "<td class='center'>$ " + new Number(user.n2a3).toFixed(2) + "</td>";
				var n2a4 = "<td class='center'>$ " + new Number(user.n2a4).toFixed(2) + "</td>";
				var n2a5 = "<td class='center'>$ " + new Number(user.n2a5).toFixed(2) + "</td>";
				var n2a6 = "<td class='center'>$ " + new Number(user.n2a6).toFixed(2) + "</td>";
				var n2c1 = "<td class='center'>" + user.n2c1 + "</td>";
				var n2c2 = "<td class='center'>" + user.n2c2 + "</td>";
				var n2c3 = "<td class='center'>" + user.n2c3 + "</td>";
				var n2c4 = "<td class='center'>" + user.n2c4 + "</td>";
				var n2c5 = "<td class='center'>" + user.n2c5 + "</td>";
				var n2c6 = "<td class='center'>" + user.n2c6 + "</td>";
				var count2 = new Number(user.n2c1) + new Number(user.n2c2) + new Number(user.n2c3) + 
							new Number(user.n2c4) + new Number(user.n2c5) + new Number(user.n2c6);
				var c2_total = "<td class='center'>" + count2 + "</td>";
				var at2 = new Number(user.n2t).toFixed(2);
				var a2_total = "<td class='center'>$ " + at2 + "</td>";
				
				var table_ngo2_amount_row = tr + index + username + n2a1 + n2a2 + n2a3 + n2a4 + n2a5 + n2a6 + 
																   n2c1 + n2c2 + n2c3 + n2c4 + n2c5 + n2c6 +
																   c2_total + a2_total + '</tr>';
				
				$('#user_ngo2_amount_table tbody:last-child').append(table_ngo2_amount_row);
				
				var ma1 = "<td class='center'>$ " + new Number(user.ma1).toFixed(2) + "</td>";
				var ma2 = "<td class='center'>$ " + new Number(user.ma2).toFixed(2) + "</td>";
				var ma3 = "<td class='center'>$ " + new Number(user.ma3).toFixed(2) + "</td>";
				var ma4 = "<td class='center'>$ " + new Number(user.ma4).toFixed(2) + "</td>";
				var ma5 = "<td class='center'>$ " + new Number(user.ma5).toFixed(2) + "</td>";
				var ma6 = "<td class='center'>$ " + new Number(user.ma6).toFixed(2) + "</td>";
				var mc1 = "<td class='center'>" + user.mc1 + "</td>";
				var mc2 = "<td class='center'>" + user.mc2 + "</td>";
				var mc3 = "<td class='center'>" + user.mc3 + "</td>";
				var mc4 = "<td class='center'>" + user.mc4 + "</td>";
				var mc5 = "<td class='center'>" + user.mc5 + "</td>";
				var mc6 = "<td class='center'>" + user.mc6 + "</td>";
				var count3 = new Number(user.mc1) + new Number(user.mc2) + new Number(user.mc3) + 
							new Number(user.mc4) + new Number(user.mc5) + new Number(user.mc6);
				var c3_total = "<td class='center'>" + count3 + "</td>";
				var at3 = new Number(user.mta).toFixed(2);
				var a3_total = "<td class='center'>$ " + at3 + "</td>";
				
				var table_my_amount_row = tr + index + username + ma1 + ma2 + ma3 + ma4 + ma5 + ma6 + 
																   mc1 + mc2 + mc3 + mc4 + mc5 + mc6 +
																   c_total + a3_total + '</tr>';
				
				$('#user_my_amount_table tbody:last-child').append(table_my_amount_row);
				
				var m2a1 = "<td class='center'>$ " + new Number(user.m2a1).toFixed(2) + "</td>";
				var m2a2 = "<td class='center'>$ " + new Number(user.m2a2).toFixed(2) + "</td>";
				var m2a3 = "<td class='center'>$ " + new Number(user.m2a3).toFixed(2) + "</td>";
				var m2a4 = "<td class='center'>$ " + new Number(user.m2a4).toFixed(2) + "</td>";
				var m2a5 = "<td class='center'>$ " + new Number(user.m2a5).toFixed(2) + "</td>";
				var m2a6 = "<td class='center'>$ " + new Number(user.m2a6).toFixed(2) + "</td>";
				var m2c1 = "<td class='center'>" + user.m2c1 + "</td>";
				var m2c2 = "<td class='center'>" + user.m2c2 + "</td>";
				var m2c3 = "<td class='center'>" + user.m2c3 + "</td>";
				var m2c4 = "<td class='center'>" + user.m2c4 + "</td>";
				var m2c5 = "<td class='center'>" + user.m2c5 + "</td>";
				var m2c6 = "<td class='center'>" + user.m2c6 + "</td>";
				var count4 = new Number(user.m2c1) + new Number(user.m2c2) + new Number(user.m2c3) + 
							new Number(user.m2c4) + new Number(user.m2c5) + new Number(user.m2c6);
				var c4_total = "<td class='center'>" + count4 + "</td>";
				var at4 = new Number(user.mt2a).toFixed(2);
				var a4_total = "<td class='center'>$ " + at4 + "</td>";
				
				var table_my2_amount_row = tr + index + username + m2a1 + m2a2 + m2a3 + m2a4 + m2a5 + m2a6 + 
																   m2c1 + m2c2 + m2c3 + m2c4 + m2c5 + m2c6 +
																   c4_total + a4_total + '</tr>';
				
				$('#user_my2_amount_table tbody:last-child').append(table_my2_amount_row);
				
				
				
		  	}
		  	
			$( document ).ready(function() {
				findById();	
				
			});
	  </script>
	</head>
	<body>
		<div class='hundred center'><h2>Create Session Admin Page</h2></div>
		<div class='vertical_spacer_ten'></div>
	 	<div class='vertical_spacer_ten'></div>
		
		
		Sessions Data:
		<div id='session'></div>
		<div id='session_type'></div>
		<div class='vertical_spacer_ten'></div>
		
		Question Data Responses:
		<div class='vertical_spacer_ten'></div>
		<%- partial('../layout/admin/user_question_table') %>
		
		<div class='vertical_spacer_ten'></div>
		<div class='vertical_spacer_ten'></div>
		
		User data - ngo choice1/choice2 - page order - session type:
		<div class='vertical_spacer_ten'></div>
		<%- partial('../layout/admin/user_ngo_table') %>
		
		<div class='vertical_spacer_ten'></div>
		<div class='vertical_spacer_ten'></div>
		
		User data - ngo click session A:
		<div class='vertical_spacer_ten'></div>
		<%- partial('../layout/admin/user_ngo_amount_table') %>
		
		<div class='vertical_spacer_ten'></div>
		<div class='vertical_spacer_ten'></div>
		
		User data - ngo click session B:
		<div class='vertical_spacer_ten'></div>
		<%- partial('../layout/admin/user_ngo2_amount_table') %>
		
		<div class='vertical_spacer_ten'></div>
		<div class='vertical_spacer_ten'></div>
		
		User data - my click session A:
		<div class='vertical_spacer_ten'></div>
		<%- partial('../layout/admin/user_my_amount_table') %>
		
		<div class='vertical_spacer_ten'></div>
		<div class='vertical_spacer_ten'></div>
		
		User data - my click session B:
		<div class='vertical_spacer_ten'></div>
		<%- partial('../layout/admin/user_my2_amount_table') %>
		
		<div class='vertical_spacer_ten'></div>
		<div class='vertical_spacer_ten'></div>
		<div class='vertical_spacer_ten'></div>
	 	
	 	<div class='hundred button_height padding-top-button'>
			<div class='ninety'>
				 <a href="#" onclick="createSession()" class="fifty_w_h  left button dark_grey "><div class="center_text">Return to Admin</div></a>
			</div>
		</div>
	 	
	 	<div id='popup'>
		</div>
	</body>
</html>