<p>Dear <%=to_email%>,</p>
<br/>
<p><em>Thank you</em> for signing up for the WLU session.</p>
<p>Your session is scheduled for,<br/><%=session_date%> @ <%=session_time%> in room P1033</p>

The $5 for filling out today&#39;s questionnaire as well as any additional payment promised will 
be paid to you at the lab on <%=session_date%> @ <%=session_time%>. If you have any questions, please contact 
Dr. Leslie Berger at <a>lberger@wlu.ca</a> or Dr. Lan Guo at <a>laguo@wlu.ca</a>.

<p>Best Regards,</p>
<p>Dr. Leslie Berger and Dr. Lan Guo</p>